{% block css %}
    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/stats.css') }}"
    />
{% endblock %}

{% block content %}    
<div class="stats-container">
    <figure class="highcharts-figure">
        <div id="grafico1"></div>
        <p class="highcharts-description">
            Gráfico que muestra la cantidad de actividades creadas por día.
        </p>
    </figure>
    
    <figure class="highcharts-figure">
        <div id="grafico2"></div>
        <p class="highcharts-description">
            Distribución de actividades por tipo o tema.
        </p>
    </figure>
    
    <figure class="highcharts-figure">
        <div id="grafico3"></div>
        <p class="highcharts-description">
            Actividades iniciadas por bloque horario (mañana, mediodía, tarde), agrupadas por mes.
        </p>
    </figure>
    
    <a href="{{ url_for('index') }}" class="btn">Volver a la Portada</a>
</div>
{% endblock content %}

{% block javascript %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="{{ url_for('static', filename='js/stats.js') }}"></script>
{% endblock %}

