<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Form Validation</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="main-container">
        <div id="val-box" hidden>
            <h2 id="val-msg"></h2>
            <ul id="val-list"></ul>
        </div>
        <a href="{{ url_for('index') }}" class="btn">Portada</a>

        <H2 class="titulo" id="grafico1-titulo">Gráfico 1</H2>
        <img src="{{ url_for('static', filename='img/line_chart.png') }}" alt="Gráfico 1" class="grafico" id="grafico1" />
        
        <H2 class="titulo" id="grafico2-titulo">Gráfico 2</H2>
        <img src="{{ url_for('static', filename='img/pie_chart.png') }}" alt="Gráfico 2" class="grafico" id="grafico2" />
        
        <H2 class="titulo" id="grafico3-titulo">Gráfico 3</H2>
        <img src="{{ url_for('static', filename='img/bar_chart.png') }}" alt="Gráfico 3" class="grafico" id="grafico3" />
    </div>
    
<script src="{{ url_for('static', filename='js/select_db.js') }}"></script>
<script src="{{ url_for('static', filename='js/validation.js') }}"></script>
</body>
</html>

