<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenidos</title>
    <!-- Enlace al archivo CSS -->
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body>
    <div class="main-container">
        <h1 class="titulo">¡Bienvenidos!</h1>
        
        <table class="tabla-resumen">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Fecha de inicio</th>
                    <th>Sector</th>
                    <th>Nombre</th>
                    <th>Tema</th>
                    <th>Nota</th>
                    <th>Evaluación</th>
                </tr>
            </thead>
            <tbody>
                <!-- Contenido de la tabla -->
            </tbody>
        </table>
    </div>
</body>
</html>